/* base */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* nav */
.nav-list {
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.nav-list__item, .form-filter-button {
    width: 130px;
    height: 100%;
    text-align: center;
    background-color: #cb4b16;
    box-shadow: 0px 3px 5px 1px #353535;
}
.nav-list__txt, .form-filter-button {
    padding-top: 12px;
    display: block;
    width: 100%;
    height: 100%;
    font-family: monospace;
    text-transform: uppercase;
    text-decoration: none;
    color: #fdf6e3;
}
.nav-list__txt:hover, 
.btn-link:hover,
.form-filter-button:hover {
    background-color:  #ff530a;
}

.form-filter-button {
    margin-top: 0;
}

.nav-list__item_theme_dark {
    background-color: #073642;
}

.nav-list__item_width_full {
    width: 60%;
}
/* --- */


.page {
    margin-top: 30px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    background-color: #657b83;
    color: #fdf6e3;
    text-shadow: 1px 0px 3px #3a4e53;
}
.page > .container {
    background-color: #93a1a1;
    box-shadow: 0px 0px 15px 7px #403e3d;
}

.container {
    max-width: 1165px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
}

.box-heading {
    margin-top: 40px;
    text-align: center;
}

.heading {
    font-size: 60px;
    text-shadow: -5px 4px 0px #3b555b;
}

.box-product {
    margin-top: 40px;
}

.card, 
.registration,
.login {
    padding: 20px;
    width: 100%;
    height: 650px;
    background-color: #073642c4;
    border: 2px solid #cb4b16;
    font-family: monospace;
    font-size: 15px;

}

.card__box-picture,
.product__box-picture {
    margin: 0;
    padding: 10px;
    max-width: 100%;
    height: 50%;
}

.card__box-picture > img, .product__box-picture > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card__txt {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.list__item_accent, 
.card__price_accent, 
.list-desc__item_accent {
    color: #dc322f;
    font-weight: bold;
}
.list__item_info {
    color: #e2b735;
    font-weight: bold;
}

.list__item {
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.list-desc__item_description {
    height: 100px;
    line-height: 25px;
    overflow-x: auto;
}
.box-product_position {
    position: relative;
}


.card_disabled::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgb(0 0 0 / 28%);
    z-index: 9000;
}
.card_disabled::before {
    content: 'out of stock';
    font-size: 40px;
    position: absolute;
    color: #ff017c;
    text-transform: uppercase;
    z-index: 10000;
    display: flex;
    align-content: center;
    padding-top: 150px;
    width: 96%;
    justify-content: center;
    text-shadow: -1px 5px 1px black;
}
.card_disabled > .card {
    position: relative;
    /* z-index: -1000; */
}

.card__box-content-bottom {
    margin-top: 10px;
    border: 1px solid #cb4b16;
    height: 100px;
}

.card__price {
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
}

.card__price_old {
    text-decoration: line-through;
    text-decoration-color: #cb4b16;
}

.crad__box-button {
    margin-top: 15px;
    text-align: center;
}

.btn-link {
    padding-top: 2px;
    background-color: #cb4b16;
    text-decoration: none;
    display: inline-block;
    width: 213px;
    height: 31px;
    color: #fdf6e3;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 4px;
    box-shadow: 0px 5px #002b36;
}

.card__price_new {
    color: #ff017c;
    font-size: 22px;
    text-shadow: 2px 2px #000000;
}

.box-table {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.table {
    font-family: monospace;
    font-size: 25px;
    border: 1px solid;
}

.table__heading {
    background-color: #073642;
    font-weight: bold;
    color: #cb4b16;
    text-align: center;
}

.table, td {
    padding: 5px;
    border: 1px solid;
}

.table__content {
    background-color: #657b83;
}
/* Product */
.product {
    margin-top: 40px;
    background-color: #073642c4;
    border: 2px solid #cb4b16;
    height: 490px;
}    

.product__content-base {
    margin-top: 20px;
}

.product__box-title {
    text-align: center;
}

.product__list-desc {
    margin-top: 30px;
}

.list-desc {
    font-family: monospace;
    font-size: 18px;
    line-height: 30px;
}

.product__box-picture {
    /* width: 90%; */
    width: 480px;
    overflow: hidden;
}

.product__price {
    margin-top: 5px;
    text-align: center;
}

.product__txt-accent {
    font-size: 35px;
    color: #ff017c;
    font-family: monospace;
    font-weight: bold;
}

.product__box_button {
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.btn-buy {
    width: 300px;
    height: 50px;
    font-size: 35px;
    border: 0;
    background-color: #cb4b16;
    color: #fdf6e3;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #ff530a;
}

button:disabled,
button[disabled],
button:disabled:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.product__list-desc {
    margin-right: 20px;
}

.product__box-picture_height_full {
    height: 100%;
}

/* filter */
.form-filter__box-fields {
    padding-top: 7px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.select {
    margin: 0;
    background-color: #cb4b16;
    border: 0;
    width: 30%;
    height: 35px;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
    line-height: inherit;
    color: #fdf6e3;
}

.select:focus {
    outline: none;
}

.form-filter-button {
    width: 20%;
    border: 0;
    height: 36px;
    padding: 0;
    font-size: 17px;
    text-shadow: 0px 1px 3px #383838;
}
.form-filter-button:hover {
    cursor: pointer;
}

/* notifi */
.notification {
    margin-top: 20px;
    font-size: 25px;
    color: #ff017c;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
}


/* Registration */
.registration {
    margin-top: 40px;
    height: 550px;
}



.tab {
    margin-top: 50px;
    padding-bottom: 10px;
    width: 69%;
}
.button-tab {
    font-size: 20px;
    width: 180px;
    text-transform: uppercase;
    background-color: #073642;
    color: #fdf6e3;
    border-top: 2px solid #96563b;
    border-left: 2px solid #96563b;
    border-right: 2px solid #96563b;
    border-bottom: 0;
    cursor: pointer;
}

button.tablinks.button-tab.active,
.registration__content {
    background-color: #96563b;
}

.registration__content {
    padding: 15px;
    margin-top: -10px;
    min-height: 430px;
    box-shadow: -2px 2px 4px 2px #383838;
}


input {
    display: block;
    width: 240px;
    height: 40px;
    margin-top: 10px;
}

.tabcontent  {
    display: none;
}

/* Form */

.form {
    background-color: #96563b; 
    padding: 10px;
    box-shadow: inset 0px 0px 0px 5px #d34b24;
}
.form__header {
    text-align: center;
    margin-top: 30px;
}
.form__title {
    font-size: 28px;
    font-weight: bold;
}

.form__notification {
    font-size: 20px;
    color: #ff017c;
    display: block;
    position: absolute;
    left: 200px;
    top: 40px;
}

.form__group {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__group label {
    padding-top: 20px;
    font-size: 22px;
}

.form__group > input {
    border-radius: 10px;
    padding: 7px;
    font-size: 18px;
    background-color: #e1e1e1;
    border: 1px solid #96563b;
    color: #ff017c;
    font-weight: bold;
}

.form__group > input:focus {
    outline: none;
    background: #000;
}

.form__group > input::placeholder {
    font-size: 14px;
    color: #93a1a1;
}

.form__box-button {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.form__button {
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    background-color: #00b8e1;
    box-shadow: inset 0px 0px 0px 0px #f900ff, 
    -1px 2px 10px 2px #282525;
    color: #50072a;
    font-weight: bold;
    transition: 0.3s;
}

.form__button:hover {
    box-shadow: inset 1px 1px 9px 19px #0028ff,
     -1px 2px 10px 2px #282525;
     transition: 0.3s;
     color: #cccccc;
}

.form__footer {
    margin-top: 30px;
}

.registration__box-information {
    margin-top: 30%;
}

.registration__title {
    font-size: 70px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #cb4b16;
    text-shadow: -4px 0px #cade12;
}

.registration__subtitle {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    color: #cb4b16;
    text-shadow: -1px 1px #cade12;
}

.registration__box-form-registration,
.login__box-form-login {
    margin: 0 auto;
    width: 600px;
}

.registration__box-content {
    margin-top: 15px;
}

.login__box-content {
    margin-top: 70px;
}

.login {
    margin-top: 40px;
    height: 526px;
}