{% extends 'base.html' %}
{% block content %}
    <div class="box-heading">
        <h1>Profile user: {{ user }}</h1>
    </div>
    {% if not user.is_superuser %}
    <div class="box-table">
        <table class="table">
            <tbody>
                <tr>
                    <td class="table__heading">First name</td>
                    <td class="table__heading">Last name</td>
                    <td class="table__heading">Credit</td>
                </tr>
                <tr>
                    <td class="table__content">{{ user.first_name }}</td>
                    <td class="table__content">{{ user.last_name }}</td>
                    <td class="table__content">{{ credit }}$</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif%}
{% endblock %}