{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="box-heading">
	<h1 class="heading">Buy goods</h1>
</div>
<div class="product">
	<div class="grid">
		<div class="grid__item width-1-2">
			<figure class="product__box-picture product__box-picture_height_full">
				<img src="{% static 'images/'%}{{product.title}}.jpg" alt="picture">
			</figure>
		</div>
		<div class="grid__item width-1-2">
			<div class="product__content-base">
				<div class="product__box-title">
					<h2 class="product__title">Characteristics {{ product.title|upper }}</h2>
				</div>
				<ul class="product__list-desc list-desc">
					<li class="list-desc__item"><span class="list-desc__item_accent">Description:</span></li>
					<li class="list-desc__item list-desc__item_description">{{ product.description }}<br>{{ product.category.description }}</li>
					<li class="list-desc__item"><span class="list-desc__item_accent">Diameter:</span> {{ product.diameter }}</li>
					<li class="list-desc__item"><span class="list-desc__item_accent">Weight:</span> {{ product.weight }}</li>
					<li class="list-desc__item"><span class="list-desc__item_accent">Location:</span> {{ product.location }}</li>
					<li class="list-desc__item"><span class="list-desc__item_accent">Amount:</span> {{ product.amount }}</li>
				</ul>
				<div class="product__price">
					<span class="product__txt-accent">{{ product.price }}$</span>
				</div>
				<div class="product__box_button">
					<button disabled class="btn-buy">Buy</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}