<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteorites Shop | {{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/width.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="page">
    <div class="container">
        {% include '_navigation.html' %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>